@model Employee_Relation.Models.Usertbl

@{
    ViewData["Title"] = "Register";
}

<p class="display-6 fw-light text-info">Register</p>  
<hr />
@if(ViewData["Message"]!="")
{
    <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>  
    <strong>Oops!</strong> @ViewData["Message"]
  </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>    
                <input asp-for="UserId" class="form-control" required/>  
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" required/>  
                <span asp-validation-for="UserName" class="text-danger"></span>   
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" required/>  
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Register" class="btn btn-primary" />   
            </div>
        </form>
    </div>
</div>  

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
