@{
    ViewData["Title"] = "Privacy Policy";
}
<p class="display-4 fs-3  text-dark text-center">@ViewData["Title"]</p>  
<p class="display-6 fs-5 text-secondary ms-1">Last updated: Dec 14, 2022 7:09 AM</p>  
<div class="text-center lh-lg text-secondary lh-lg fs-5"> 
We value your privacy very highly. Please read this Privacy Policy carefully before using the www.theloremipsumco.com Website (the "Website") operated by The Lorem Ipsum Company, a(n) Corporation formed in California, United States ("us," "we," "our") as this Privacy Policy contains important information regarding your privacy and how we may use the information we collect about you.

Your access to and use of the Website is conditional upon your acceptance of and compliance with this Privacy Policy. This Privacy Policy applies to everyone, including, but not limited to: visitors, users, and others, who wish to access or use the Website.

By accessing or using the Website, you agree to be bound by this Privacy Policy. If you disagree with any part of the Privacy Policy, then you do not have our permission to access or use the Website.
</div>  